<!--<div class="page-header">
    <h1>Regisztráció</h1>
</div>

<form class="form-horizontal" method="post" action="/auth/signup">
    <fieldset>
        <div class="form-group">
            <label for="surname" class="col-lg-2 control-label">Vezetéknév</label>
            <div class="col-lg-10">
                <input class="form-control" type="text" id="surname" name="surname">
            </div>
        </div>
        <div class="form-group">
            <label for="forename" class="col-lg-2 control-label">Keresztnév</label>
            <div class="col-lg-10">
                <input class="form-control" type="text" id="forename" name="forename">
            </div>
        </div>
        <div class="form-group">
            <label for="neptun" class="col-lg-2 control-label">Neptun-kód</label>
            <div class="col-lg-10">
                <input class="form-control" type="text" id="neptun" name="neptun">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-lg-2 control-label">Jelszó</label>
            <div class="col-lg-10">
                <input class="form-control" type="password" id="password" name="password">
            </div>
        </div>
        <div class="form-group">
            <label for="avatar" class="col-lg-2 control-label">Avatar URL</label>
            <div class="col-lg-10">
                <input class="form-control" type="text" id="avatar" name="avatar">
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </fieldset>
</form>
-->

<meta charset="UTF-8">
<link rel="shortcut icon" href="favicon.ico">
<link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif:400,400italic,700italic">
<link rel="stylesheet" href="styles/fontello/css/fontello.css">
<link rel="stylesheet" href="styles/main.css" type="text/css">
<link rel="stylesheet" type="text/css" href="urlapcss.css">
</head>

<body>
<h1>Regisztráció</h1>

<p><b>Note:</b> type="date" is not supported in Internet Explorer.</p>


<br>
<form action="action_page.php">
<label for="nev">Vezetéknév: </label><br>
<input type="text" name="Veznev" id="Vnev">

<br><label for="nev">Keresztnév: </label><br>
<input type="text" name="Kernev" id="Knev">
<br>

  Birthday:<br>
  <input type="date" name="bday">
  <br>

  E-mail:<br>
  <input type="email" name="email">
  <br>
   Confirm E-mail:<br>
  <input type="email" name="email">
    
   User name:<br>
	<input type="text" name="username">
	<br>
	User password:<br>
	<input type="password" name="psw"><br>
	<input type="submit" value="Küldés">
</form>









</body>